body
{
	background: rgb(136, 230, 124);
}

	.login_div1 , .login_div2
	{
		background: rgb(206, 30, 7);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: rgb(235, 111, 111);
border-radius: 10px;
border-top: 10px solid #e64696;
padding: 10px;
float: none;
text-align: left;
}